<!DOCTYPE html>
<html>
    	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DashBoard</title>
	<link rel="stylesheet" type="text/css" href="dashboard.css">
	
</head>
<body>
	<section class="home">
		<h1>Loxone Lighting</h1>
		<p>Automated Control Solutions for Smart Homes</p>
		</section>
		<div class="image">

		<nav class="header">
			<div class="color">
			<div class="logo"></div>

			<a href=""style="text-decoration:none;">Dashboard</a><br><br>
			<div class="logo1"></div>
            <a href="/Pages"style="text-decoration:none;">Home</a>
			</nav>
			</div>
			</div>
			</body>
			
            
            
</html>